<app-nav-bar [title]="'Proccurement Dashboard'"></app-nav-bar>
<div class="main-container">
  <div class="product-display-area">
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-outline-primary" (click)="onFetchDetails()">&#x21bb;</button>
      <div class="">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" class="form-control form-control-sm mb-0 ml-4">
      </div>
      <h2 class="text-center mb-0" style="margin-right: 255px;">All Proposals</h2>
    </div>
    <hr>
    <table id="products" class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Status
            <a href="#" style="color: white;" data-mdb-toggle="tooltip"
              title="● Initially in 'Pending' state, when new porposal is created.
● If Admin accepts goes to 'Approved' state else 'Rejected'.
● If Proccurement accepts 'Closed' else 'Validate Again'.">
              <i class="fa-solid fa-circle-info"></i>
            </a>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of filterTableData(); index as i">
          <ng-container *ngIf="detail.status === 'Approved' || detail.status === 'Closed' || detail.status === 'Validate Again'">
          <td>{{i + 1}}</td>
          <td>{{detail.itemName}}</td>
          <td>{{detail.itemDescription}}</td>
          <td>{{detail.itemPrice}}</td>
          <td>{{detail.quantity}}</td>
          <td>{{detail.status}}</td>
          <td>
            <button class="btn btn-success" (click)="approve(detail.id)"><i
                class="fa-solid fa-circle-check"></i></button>&nbsp;
            <button class="btn btn-danger" (click)="reject(detail.id)"><i
                class="fa-solid fa-rectangle-xmark"></i></button>
          </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<button class="btn btn-logout" routerLink="/login">Logout</button>
