.header {
  text-align: center;
  background-color: #9B2335;
  padding: 16px 0;
  border-bottom: 2px solid #1ABC9C;
  margin-bottom: 20px; /* Add margin to separate it from the content below */
  color: white;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.form-area h2, .product-display-area h2 {
  color: #9B2335;
  margin: 0 0 20px 0;
}

.styled-table th {
  background-color: #9B2335;
  color: white;
}

.adminColor {
  background-color: #9B2335;
  color: white;
  border-color: #9f1227;
  background-color: #9B2335;
}

.adminColor:hover {
  background-color: #9a3746;
  color: white;
}

::placeholder {
  opacity: 0.5; /* Firefox */
}


.product-display-area {
  width: 100%;
  background-color: #dee2e6;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
