<!-- 1. User login with multiple profiles with admin dashboard ( user, admin, procurement)
2. Create a Form with ( itemname, Itemdescription, Item price, qty)
    designer can create form and submit
     -- goes to admin
         -- if approved goes to proccurement -- if not it goes back to user
             -- if procurement approved status closed
                 -- if not goes to the user to validate again -->

<!--
1. Create a login page for user and admin with user and both directing to the dashboard with different section for users and admins
2. After the login the there should be 2 different section for admin and user.
3. In the users section create a form and in the admin populate the form once the user clicks on sibmit.
4. Create the form with the fields of ( itemname, Itemdescription, Item price, qty) and upon submit populate it to the admin section where the admin can see the form.
5. finally If the admin approves or clicks on approve show a Thankyou message or if rejected send it back to the user and repeat.-->



<router-outlet></router-outlet>
