

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  margin: 100px;
}

.form-area h2, .product-display-area h2 {
  color: #007bff;
  /* margin: 0 0 20px 0; */
}

.styled-table th {
  background-color: #007bff;
  color: white;
}

::placeholder {
  opacity: 0.5; /* Firefox */
}

.product-display-area {
  width: 100%;
  background-color: #dee2e6;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

