<app-nav-bar [title]="'User Dashboard'"></app-nav-bar>
<div class="main-container">
  <div class="product-display-area">
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-outline-primary" (click)="onFetchDetails()">&#x21bb;</button>
      <div class="">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" class="form-control form-control-sm mb-0 ml-4">
      </div>
      <h2 class="text-center mb-0" style="margin-right: 80px;">All Proposals</h2>
      <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Create New Proposal
      </button>
    </div>
    <hr>
    <table id="products" class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Status
            <a href="#" style="color: white;" data-mdb-toggle="tooltip"
              title="● Initially in 'Pending' state, when new porposal is created.
● If Admin accepts goes to 'Approved' state else 'Rejected'.
● If Proccurement accepts 'Closed' else 'Validate Again'.">
              <i class="fa-solid fa-circle-info"></i>
            </a>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of filterTableData(); index as i">
          <ng-container *ngIf="detail.status === 'Rejected' || detail.status === 'Validate Again' || detail.status === 'Pending'">
          <td>{{i + 1}}</td>
          <td>{{detail.itemName}}</td>
          <td>{{detail.itemDescription}}</td>
          <td>{{detail.itemPrice}}</td>
          <td>{{detail.quantity}}</td>
          <td>{{detail.status}}</td>
          <td>
            <button class="btn btn-danger" (click)="delete(detail.id)"><i class="fa-solid fa-trash"></i></button>
            <button class="btn btn-warning" (click)="edit(detail.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-pen-to-square"></i></button>
          </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Porposal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #detailsForm="ngForm" (ngSubmit)="submitForm(detailsForm.value)" class="p-3">

          <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon3"><strong>Item Name</strong></span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"
            name="itemName" placeholder="Enter the Item Name" ngModel>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text"><strong>Item Description</strong></span>
            <textarea class="form-control" aria-label="With textarea"
            name="itemDescription" placeholder="Enter the Item Description"  ngModel></textarea>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text"><strong>Item Price $</strong></span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
            name="itemPrice" placeholder="Enter the Item Price"  ngModel>
            <span class="input-group-text">.00</span>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text"><strong>Quantity</strong></span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
            name="quantity" placeholder="Enter the Item Quantity"  ngModel>
            <span class="input-group-text">.00</span>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon3"><strong>Status</strong></span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"
            name="status" [(ngModel)]="initialStatus" placeholder="Pending" readonly>
          </div>

          <div class="text-danger text-center mb-3">{{ validationMessage }}</div>

          <div class="flex-container">
              <button type="submit" class="btn btn-primary" [disabled]="validationMessage">{{editMode ? 'Update Details' : 'Submit Details'}}</button>
              <button type="button" class="btn btn-outline-secondary" (click)="resetForm()"><i class="fa-solid fa-arrows-rotate"></i></button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
