<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ml-5" href="#"><h2>Admin Dashboard</h2></a>
    <div class="ml-auto">
      <form class="d-flex mr-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Admin Dashboard</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="main-container" style="margin-top: 100px;">
  <div class="product-display-area">
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-outline-primary" (click)="onFetchDetails()">&#x21bb;</button>
      <div class="">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" class="form-control form-control-sm mb-0 ml-4">
      </div>
      <h2 class="text-center mb-0" style="margin-right: 90px;">All Proposals</h2>
      <button type="button" class="btn float-right adminColor" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Create New Proposal
      </button>
    </div>

    <hr>
    <table id="products" class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Status
            <a href="#" style="color: white;" data-mdb-toggle="tooltip"
              title="● Initially in 'Pending' state, when new porposal is created.
● If Admin accepts goes to 'Approved' state else 'Rejected'.
● If Proccurement accepts 'Closed' else 'Validate Again'.">
              <i class="fa-solid fa-circle-info"></i>
            </a>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of filterTableData(); index as i">
          <ng-container *ngIf="detail.status === 'Approved' || detail.status === 'Closed' ||
          detail.status === 'Validate Again' || detail.status === 'Pending' || detail.status === 'Rejected'">
          <td>{{i + 1}}</td>
          <td>{{detail.itemName}}</td>
          <td>{{detail.itemDescription}}</td>
          <td>{{detail.itemPrice}}</td>
          <td>{{detail.quantity}}</td>
          <td>{{detail.status}}</td>
          <td>
            <button class="btn btn-success" (click)="approve(detail.id)"><i
                class="fa-solid fa-circle-check"></i></button>
            <button class="btn btn-danger1" (click)="reject(detail.id)"><i
                class="fa-solid fa-rectangle-xmark"></i></button>
            <button class="btn btn-warning" (click)="edit(detail.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn btn-danger" (click)="delete(detail.id)"><i class="fa-solid fa-trash"></i></button>
          </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Porposal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #detailsForm="ngForm" (ngSubmit)="submitForm(detailsForm.value)" class="p-3">

          <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon3"><strong>Item Name</strong></span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"
            name="itemName" placeholder="Enter the Item Name" ngModel>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text"><strong>Item Description</strong></span>
            <textarea class="form-control" aria-label="With textarea"
            name="itemDescription" placeholder="Enter the Item Description"  ngModel></textarea>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text"><strong>Item Price $</strong></span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
            name="itemPrice" placeholder="Enter the Item Price"  ngModel>
            <span class="input-group-text">.00</span>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text"><strong>Quantity</strong></span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
            name="quantity" placeholder="Enter the Item Quantity"  ngModel>
            <span class="input-group-text">.00</span>
          </div>

          <div class="input-group mb-4">
            <span class="input-group-text" id="basic-addon3"><strong>Status</strong></span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"
            name="status" [(ngModel)]="initialStatus" placeholder="Pending" readonly>
          </div>

          <div class="flex-container">
              <button type="submit" class="btn adminColor">{{editMode ? 'Update Details' : 'Submit Details'}}</button>
              <button type="button" class="btn btn-outline-secondary" (click)="resetForm()"><i class="fa-solid fa-arrows-rotate"></i></button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
